<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CSGO_Case_Calculator.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <userSettings>
    <CSGO_Case_Calculator.Properties.Settings>
      <setting name="cBxChroma" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SaveStatusOnCloseup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cBxChroma2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cBxChroma3" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cBxClutch" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cBxCS20" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cBxCSGOWC" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cBxCSGOWC2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cBxCSGOWC3" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cBxDangerZone" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cBxeSports2013" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cBxeSports2013W" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cBxeSports2014S" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cBxFalchion" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cBxGamma" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cBxGamma2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cBxGlove" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cBxHorizon" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cBxHuntsman" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cBxBravo" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cBxBreakout" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cBxHydra" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cBxPhoenix" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cBxVanguard" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cBxWildfire" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cBxPrisma" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cBxPrisma2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cBxRevolver" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cBxShadow" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cBxShatteredWeb" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cBxSpectrum" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cBxSpectrum2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cBxWinterOffensive" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cBxAC" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cBxFracture" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cbxBrokenFang" serializeAs="String">
        <value>False</value>
      </setting>
    </CSGO_Case_Calculator.Properties.Settings>
  </userSettings>
</configuration>